.title{
	padding-top: 5%;
	font-family: 'Roboto', cursive;
	text-align: center;
	font-weight: bold;
	font-size: 5rem;
}

.login_title  {
	text-align: center;
	margin-top: 15px;
}

.landing_text{
	font-family: Dancing+Script;
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	font-family: 'Charm', cursive;
}

.bg_background{
	background-image: url(https://i.pinimg.com/originals/a8/81/e3/a881e39b42461074d442ae53dd68ae26.jpg);
	position: absolute;
	z-index: -2;
	height: 100%;
    width: 100%;
}

.sign_up_card {
	float: none;
    margin: 5% auto;
}

.login_card {
	background: #ffffff00;
    box-shadow: none;
}

.login_fields {
	text-align: center;
}

.login_fields::placeholder {
	color: #ffffff69;
	text-align: center
}

.white_color {
	color: #ffffff69 !important;
}

.center-hor {
	float: none;
    margin: 0 auto;
}

.center-ver {
	display: flex;
  	align-items: center;
}

.forgot_password {
	float: right;
    margin-bottom: 10px;
}

.card_catalogue {
	padding: 20px 20px 0 20px;
	margin-bottom: 10px;
}

.each_card {
	margin-bottom: 20px;
}

.profile-align {
	margin-top: 30px;
}

.signup_panel {
	max-height: 400px;
	overflow: scroll;
}

.register_card {
	padding: 0 15px;
}

.scrollable_card {
	max-height: 500px;
	overflow: scroll;
	padding: 0 5px;
}

.notification_card {
	position: absolute;
    z-index: 10;
    right: 38%;
    top: 1%;
}

.card-img-top{
	height: 300px;
}

.edit_thumb {
	height: 250px;
    display: inherit;
}