<% include partials/header %>

<h1>Add Photos to the Profile</h1>
    <form id="theform" action="add_item" method="POST" enctype="multipart/form-data">
        Photo:<input type="file" name="uploaded_file" class="thefile">
        <button type="submit">Add item</button>
    </form>   
    <% include partials/footer %>