<% include partials/header %>
<div class ="container">
<div class ="row">
    <h1 class="login_title">Login</h1>
    <div style = "width: 30%; margin: 100px auto;">

</div>
</div>
</div>




<% include partials/footer %>
