<% include partials/header %>

<div class="col-md-3 col-xs-12 sign_up_card">
	<div class="card">
		<div class="card-body">
			<h2 class="login_title text-center">Send Link</h2>
			<div class = "form-group">
                <input class = "form-control" type="email" name = "email" placeholder = "Enter Email">
            </div>
            <div class = "form-group">
                <button class = "btn btn-raised btn-success btn-block">Send Reset Link</button>
            </div>
		</div>
	</div>
</div>