<% include partials/header %>
<% include partials/navbar %>

<div class="row card_catalogue">
	<% include partials/card %>
	<% include partials/card %>
	<% include partials/card %>
	<% include partials/card %>
</div>