
<% include partials/header %>
    
<div class="container">
	<div class= "title"><h1> Be You </h1> </div>
	<h2> Artist Management </h2>
	 <button type="button" class="btn btn-outline-dark btn-lg">Enter</button>
	</div>
<a href = "/authentication">Authentication</a>
<% include partials/footer %>