<% include partials/header %>

<div class="bg_background"></div>
<div class="row">
    <div class="col-md-3 col-xs-12 sign_up_card">
        <div class="card register_card">
            <form action="/register" method="POST" enctype="multipart/form-data">
                <h1 class="login_title text-center">SignUp</h1>
                <div class="card-body scrollable_card">
                    <div class="form-group">
                        <input class="form-control" required="" name="firstname" placeholder="Firstname" novalidate>
                    </div>
                    <div class="form-group">
                        <input class="form-control" required="" name="lastname" placeholder="Lastname" novalidate>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" name="username" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label>Artist Type</label>
                        <select class="form-control" id="ArtistType" name="artist">
                            <option>Actor</option>
                            <option>Model</option>
                            <option>Singer</option>
                            <option>Musician</option>
                            <option>Painter</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Select Gender</label>
                        <select class="form-control" id="Gender" name="gender">
                            <option>Male</option>
                            <option>Female</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" required="" type="text" name="haircolor" placeholder="Enter Hair Colour">
                    </div>
                    <div class="form-group">
                        <input class="form-control" required="" type="text" name="eyecolor" placeholder="Enter eye Colour">
                    </div>
                    <div class="form-group">
                        <input class="form-control" required="" type="text" name="shoe" placeholder="Enter shoe size">
                    </div>
                    <div class="form-group">
                        <input class="form-control" required="" type="text" name="height" placeholder="Enter Height (cms)">
                    </div>
                    <div class="form-group">
                        <input class="form-control"  type="text" name="ytlink" placeholder="Enter Youtube Link">
                    </div>
                    <div class="input-group">
                        <div class="form-group">
                            <label for="custom-file-label">Upload image</label>
                            <input type="file" accept="image/x-png,image/gif,image/jpeg" class="form-control-file" id="exampleFormControlFile1" name="image">
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input class="form-control" required="" type="password" name="confirmpassword" placeholder="Confirm Password">
                    </div>
                </div>
                <button class="btn btn-raised btn-success btn-block">SignUp</button>
            </form>
        </div>
    </div>
</div>

<% include partials/footer %>