<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/homepage">Be You</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%if (currentUser.type == 'artist') { %>
      <li class="nav-item">
        <a class="nav-link" href="/edit_profile/<%= currentUser.uid %>">Edit Profile</a>
      </li>
      <% } %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Find Artists 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/homepage/Actor">Actors</a>
          <a class="dropdown-item" href="/homepage/Model">Models</a>
          <a class="dropdown-item" href="/homepage/Musician">Musician</a>
          <a class="dropdown-item" href="/homepage/Singer">Singer</a>
          <a class="dropdown-item" href="/homepage/Painter">Painter</a>
        </div>
      </li>
    </ul>
    <li>Signed in as <%= currentUser.username %></li>
    <form action="/logout" class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">Logout</button>
    </form>
  </div>
</nav>


 <!-- <div class="container">
            
  <% if(locals.message && locals.message.length> 0){ %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div> 
  <% } %>
 
</div> -->


